/* CSS for Aura Strike */

body{
	background-color:;
	background-image:url(images/);/* <-- add as_logo.png after images (fix the multiple images problem first...) */
}
nav{
	font-weight:bold;
	background-color:black;
}
nav a{
	text-decoration:none;
}
nav a:link{
	color:#266AAB;
}
nav a:visited{
	color:#990808;
}
nav a:hover{
	color:#03ACE7;
}
nav a:active{
	color:#DAF7A6;
}
h1{
	background-color:black;
	color:#002997;
}
h2{
	background-color:black;
	color:#266AAB;
	font-weight:bold;
}
#wrapper{
	width:80%;
	margin-left:auto;
 	margin-right:auto;
 	background-color:black;
 	min-width:700px;
 	max-width:1024px;
}
footer{
	color:#03ACE7;
}
footer a{
	text-decoration:none;
}
footer a:link{
	color:#266AAB;
}
footer a:visited{
	color:#990808;
}
footer a:hover{
	color:#03ACE7;
}
footer a:active{
	color:#DAF7A6;
}
.intro{
	color:#266AAB;
}
*{
	font-family:fantasy;
}